html {
    scroll-behavior: smooth;
}

body #content {
    padding-top: 0px;
}

.container {
    width: 100%;
    padding: 0px 0px 0px 0px;
}

/* HEADER */

.header-inner {
    background-color: rgb(175, 175, 175);
}


/* Non changing */

.mySlides {
    opacity: 0;
    transition: all 2s linear;
    position: absolute;
    width: 100%;
    padding-right: 30px;
}

.mylogo {
    position: absolute;
    width: 100%;
    padding-right: 30px;
}

.link-container {
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 5px 10% 10px 5%;
    margin-right: 20%;
    margin-left: 20%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    border-color: white;
    border-style: solid;
}

a h3 {
    color: black;
}

.link-container:hover {
    background-color: white;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.middleme {
    text-align: center;
}

body {
    background-color: white;
}

.added {
    background-color: white;
}

.linkhead {
    color: rgb(100, 100, 100);
}

.linkp {
    color: rgb(150, 150, 150);
}

.right:hover {
    transition: 0.5s;
    background-color: rgb(238, 238, 238);
    color: rgb(150, 150, 150);
}

.left:hover {
    transition: 0.5s;
    background-color: rgb(238, 238, 238);
    color: rgb(150, 150, 150);
}

.content1 {
    text-decoration: none;
}

@media only screen and (min-width: 992px) {

    /* DESKTOP MODE CONTENT */
    .category {
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .topic {
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .categories.row.display-animation {
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .added {
        padding-left: 15%;
        padding-right: 15%;
    }

    .jumbotron {
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .content1 {
        height: 300px;
    }

    .left {
        width: 48%;
        float: left;
        transition: 0.5s;
        padding: 20px 20px 20px 20px;
        color: rgb(100, 100, 100);
    }

    .right {
        width: 48%;
        float: right;
        transition: 0.5s;
        padding: 20px 20px 20px 20px;
        color: rgb(100, 100, 100);
    }

    .product-title {
        position: absolute;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 5px black;
        width: 100%;
        transition: 0.5s;
    }

    .right-product-box {
        width: 30%;
        right: 50px;
        padding-top: 100px;
        position: absolute;
        transition: 0.5s;
    }

    .product-info-left {
        padding-left: 10%;
        width: 30%;
        float: left;
        position: absolute;
        transition: 0.5s;
    }

    .product-info-right {
        width: 50%;
        margin-left: 50%;
    }

    .whitetext {
        color: white;
        text-shadow: 2px 2px 5px black;
    }
}

@media only screen and (max-width: 992px) {

    /* PHONE MODE CONTENT */
    .added {
        padding-left: 15px;
        padding-right: 15px;
    }

    .jumbotron {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .left {
        width: 100%;
        transition: 0.5s;
        padding: 20px 20px 20px 20px;
        color: rgb(100, 100, 100);
    }

    .right {
        width: 100%;
        transition: 0.5s;
        padding: 20px 20px 20px 20px;
        color: rgb(100, 100, 100);
    }

    .product-title{
        width: 100%;
        transition: 0.5s;
        text-align: center;
    }

    .right-product-box {
        padding-bottom: 50px;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 1200px) {

    /* DESKTOP MODE FOOTER */
    .footer .col {
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
    }

    .footer .col1 {
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0% 30% 0% 30%;
        text-align: center;
    }

    .footer h1 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        /*padding: top right bottom left*/
        color: rgb(100, 100, 100);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.250em;
        text-align: left;
    }

    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {

    /* PHONE MODE FOOTER */
    .footer .col {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
    }

    .footer .col1 {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
    }

    .footer h1 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        /*padding: top right bottom left*/
        color: rgb(100, 100, 100);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.250em;
        text-align: center;
    }

    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.footer ul li {
    padding: 5px 0px 5px 0px;
}

.footer ul li a {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    color: rgb(150, 150, 150);
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.footer ul li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}